absl-py
astunparse
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
clang
click
colorama
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
Keras-Preprocessing
Markdown
nltk
numpy
oauthlib
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt5-stubs
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu==2.6.0
termcolor
threadpoolctl
tqdm
typing-extensions
urllib3
Werkzeug
wrapt